/*init*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,*::after{
    box-sizing: border-box;
}

li{
    list-style: none;
}

html{
    font-size: 62.5%;
}

a{
    -webkit-tap-highlight-color:rgba(0,0,0,0)
}

/*public style*/
.recommend-playlist > h3:first-child,
.lastest-music > h3:first-child{
    margin: 1.5rem 0;
    border-left: 2px solid #d43c33;
    padding: 0 0 0 1rem;
    color: #333;
    font-size: 1.7rem;
    font-weight: normal;
    line-height: 1;
}


/*header*/
header{
    background: #d43c33;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.7vh 3vw;
}

header .logo{
    width: 45%;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    display: block;
    padding: 0.35rem 0.7rem;
    background: transparent;
    border: 1px solid white;
    border-radius: 5rem;
}


/*nav*/
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,.1);
    position: relative;
}

nav ul li{
    flex: 1;
}

nav ul li span{
    font-size: 1.5rem;
    padding: 0.7rem 0.5rem;
    display: inline-block;
}

.red-bottom{
    border-bottom: 2px solid #d33a31;
    margin-top: 2px;
}


/*
   tab-content
*/
.tab-content > li{
    display: none;
}

.tab-content > li.tab-active{
    display: block;
}

.tab-content li .recommend-playlist ul li > a{
    text-decoration: none;
    color: #333;
}


/*section.recommend-playlist*/
.recommend-playlist ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.recommend-playlist ul li{
    position: relative;
    width: calc(33.333333333333% - 2px);
    margin-bottom: 1.3rem;
}

.recommend-playlist ul li .icon-earphone{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 2;
    color: white;
}

.recommend-playlist ul li .icon-earphone .icon{
    fill: white;
    width: 1rem;
    height: 1rem;
}

.recommend-playlist ul li img{
    width: 100%;
}

.recommend-playlist ul li p{
    padding: 0 0.5rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}


/*lastest-Music*/
.lastest-music ul li a{
    display: block;
    color: black;
    text-decoration: none;
    position: relative;
    padding: 0.9rem 0;
    margin-left: 1rem;
    border-bottom: 1px solid rgba(192,192,192,.3);
}

.lastest-music ul li a h4{
    font-size: 1.7rem;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.lastest-music ul li a p{
    font-size: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 0.5rem;
    color: #888;
    display: flex;
    align-items: center;
}

.lastest-music ul li a p .icon{
    fill: #d43c33;
    width: 5vw;
    height: 5vw;
}

.lastest-music ul li a .btn{
    fill: gray;
    width: 9vw;
    height: 9vw;
    position: absolute;
    top: 50%;
    right: 3vw;
    transform: translateY(-50%);
}

.lastest-music .loading{
    width: 20vw;
    height: 20vw;
    display: block;
    margin: 0 auto;
}

/*footer*/
footer{
    background: url("//s3.music.126.net/m/s/img/recommand_bg_2x.png?d045fafc60e017b653f8065a87496922");
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1rem;
}

footer > svg{
    width: 80%;
    height: 14vw;
    margin: 15vw 0 5vw 0;
}

footer > a{
    display: block;
    text-decoration: none;
    color: #d33a31;
    border: 1px solid #d33a31;
    border-radius: 38px;
    font-size: 1.6rem;
    padding: 0.8rem 1.8rem;
    text-align: center;
}

footer > p{
    font-size: 1rem;
    color: #888888;
    transform: scale(.75);
    line-height: 2;
}


/*hotSongsList*/
.hotSongsList .headBackground{
    background: url("../images/hotSonsBg1.jpg") no-repeat;
    height: 25vh;
    position: relative;
}

.hotSongsList .headBackground .hotSongsBg2{
    background: url("../images/hotSongsBg2.jpg") no-repeat;
    background-position: -24px -25px;
    background-size: 166px 97px;
    width: 60vw;
    height: 15vh;
    z-index: 999;
    position: absolute;
    left: 5vw;
    top: 3vh;
}

.hotSongsList .headBackground p{
    position: absolute;
    top: 19vh;
    left: 5vw;
    color: hsla(0,0%,100%,.8);
    z-index: 2;
}

.hotSongsList #hotSongs > li{
    margin-left: 2rem;
}

.hotSongsList #hotSongs > li a h3{
    position: absolute;
    left: -3rem;
    top: 0;
    color: #999;
    font-size: 1.7rem;
    font-weight: normal;
    width: 3rem;
    height: 100%;
    line-height: 4;
    text-align: center;
}

.hotSongsList #hotSongs > li:first-child a h3,
.hotSongsList #hotSongs > li:nth-child(2) a h3,
.hotSongsList #hotSongs > li:nth-child(3) a h3{
    color: #d33a31;
}

.hotSongsList .allList{
    text-align: center;
    padding: 1.7rem;
}

.hotSongsList a{
    color: #999;
    font-size: 1.4rem;
    text-decoration: none;
}


/*searchPae*/
.searchPage form{
    content: '';
    display: block;
    border-bottom: 1px solid rgba(0,0,0,.1);
    position: relative;
}

.searchPage .search-input{
    width: 90vw;
    height: 3rem;
    position: relative;
    border-radius: 30px;
    background: #ebecec;
    margin: 2vh auto;
}

.searchPage .search-icon,
.search-icon2{
    position: absolute;
    left: 3vw;
    top: 50%;
    transform: translateY(-50%);
    height: 80%;
    width: 5vw;
    fill: gray;
}

.searchPage .search-song{
    border-radius: 0;
    border: 0;
    background: transparent;
    outline: none;
    font-size: 1.5rem;
    padding: 0.75rem 0 0.75rem 10vw;
    width: 100%;
}

.searchPage .hotSearch{
    width: 90vw;
    margin: 0 auto;
}

.searchPage .hotSearch h5{
    font-size: 1.2rem;
    padding: 1rem 0;
    font-weight: normal;
    color: #666;
}

.searchPage .hotSearch .hotSongsIcon{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.searchPage .hotSearch .hotSongsIcon li a{
    text-decoration: none;
    color: #333;
    font-size: 1.4rem;
    display: block;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 30px;
    padding: 0.5rem 1rem;
    margin: 3vw 3vw 3vw 0;
}

#output{
    font-size: 1.5rem;
    position: absolute;
    bottom: -6vh;
    left: 10vw;
    color: #333333;
    border-bottom: 1px solid rgba(0,0,0,.1);
    width: 90vw;
    height: 3rem;
}

#outputLink{
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
}

#outputSpan{
    font-size: 1.5rem;
    display: block;
    text-decoration: none;
    color: #333333;

}

.search-icon2{
    position: absolute;
    left: -2.5rem;
    top: 50%;
    transform: translateY(-50%);
    fill: gray;
    width: 1.8rem;
    height: 1.8rem;
}