/*init*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,*::after{
    box-sizing: border-box;
}

html,body{
    overflow:hidden;overflow-y:auto;
    font-size: 62.5%;
}


/*header*/
@keyframes discRotate {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}
.page{
    background: transparent url("//p4.music.126.net/u_LfZBnPcrXZQRW4Z6eDBQ==/109951163011166051.jpg") no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

header{
    position: relative;
}

.song-pointer{
    position: absolute;
    top: 0;
    left: 45%;
    width: 24vw;
    z-index: 5;
}

.song-disc {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 17.5vw;
}

.disc-img1{
    width: 72vw;
}

.disc-img2{
    position: absolute;
    width: 72vw;
    animation: discRotate 20s infinite linear;
    z-index: 2;
}

.disc-img3{
    position: absolute;
    width: 44.5vw;
    border-radius: 50%;
    animation: discRotate 20s infinite linear;
    z-index: 3;
}

.icon-wrapper{
    position: absolute;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 20vw;
    border: 2px solid white;
    border-radius: 50%;
    background: rgba(0,0,0,.5);
}

.icon{
    fill: white;
    width: 10vw;
    height: 10vw;
    display: none;
}

.icon-show{
    display: block;
}




/*main*/
main{
    text-align: center;
    width: 90vw;
    margin: 0 auto;
    color: white;
}

main h2{
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    margin-top: 5vh;
    margin-bottom: 2vh;
    font-size: 1.8rem;
}

main .lines{
    height: 7rem;
    overflow: hidden;
}

main .words,
main p{
    font-size: 1.4rem;
    line-height: 2;
}

main .words{

}



/*footer*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 3vh;
    left: 0;
    right: 0;
    margin: 0 auto;
}
footer a{
    display: block;
    padding: 1.5vh 13vw;
    font-size: 1.8rem;
    border-radius: 4px;
    text-decoration: inherit;
    margin: 0 2vw;
    border: 1px solid #d43b32;
}

footer a:first-child{
    color: #d43b32;
}

footer a:last-child{
    background: #d43b32;
    color: white;
}