/*init*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,*::after{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}


/*header*/
@keyframes discRotate {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}
.page{
    background: transparent url("//p4.music.126.net/u_LfZBnPcrXZQRW4Z6eDBQ==/109951163011166051.jpg") no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

header{
    position: relative;
    min-height: 58vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.song-pointer{
    position: absolute;
    top: 0;
    left: 45%;
    width: 17vw;
    z-index: 5;
}

.song-pause{
    transform: rotate(-30deg);
    top: -2vh;
    left: 50%;
}

.song-disc {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.disc-img1{
    width: 72vw;
}

.disc-img2{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 72vw;
    animation: discRotate 20s infinite linear;
    z-index: 2;
}

.disc-img3{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: block;
    width: 44.5vw;
    height: 44.5vw;
    border-radius: 50%;
    z-index: 3;
    animation: discRotate 20s infinite linear;
}

.icon-wrapper{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background: rgba(0,0,0,.5);
}

.icon{
    fill: white;
    width: 10vw;
    height: 10vw;
    display: none;
}

.icon-show{
    display: block;
}




/*main*/
main{
    text-align: center;
    width: 90vw;
    margin: 0 auto;
    color: white;
    overflow: hidden;
}

main h2{
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    font-size: 1.8rem;
}

main .lines{
    height: 8.4rem;
    overflow: hidden;
}

main p{
    font-size: 1.4rem;
    line-height: 2;
}



/*footer*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vh auto 0;
}

footer a{
    display: block;
    padding: 1.5vh 13vw;
    font-size: 1.8rem;
    border-radius: 4px;
    text-decoration: inherit;
    margin: 0 2vw;
    border: 1px solid #d43b32;
}

footer a:first-child{
    color: #d43b32;
}

footer a:last-child{
    background: #d43b32;
    color: white;
}